<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	default-init-method="init" default-destroy-method="destroy"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:c="http://www.springframework.org/schema/c"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="patient" class="com.livingoncodes.spring.springtutorial.Patient"
		scope="singleton" init-method="onCreate" destroy-method="onDestroy"
		factory-method="getInstance" p:address-ref="address"
		c:_0="6"
		c:_1="Harry"
		>

		<property name="nationalId">
			<value>12345</value>
		</property>
	</bean>

	<bean id="address" class="com.livingoncodes.spring.springtutorial.Address">
		<constructor-arg name="street" value="Panthapath"></constructor-arg>
		<constructor-arg name="postcode" value="1200"></constructor-arg>
	</bean>

	<bean id="address2" class="com.livingoncodes.spring.springtutorial.Address"
		p:street="Green Road" p:postcode="1210">

	</bean>

</beans>
