<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
	default-autowire="byType">


	<bean id="consoleWriter" class="com.livingoncodes.spring.springtutorial.ConsoleWriter"
		primary="true">
	</bean>

	<bean id="consoleWriter2" class="com.livingoncodes.spring.springtutorial.ConsoleWriter">
	</bean>


	<bean id="fileWriter" class="com.livingoncodes.spring.springtutorial.FileWriter">
	</bean>

	<bean id="whatever" class="com.livingoncodes.spring.springtutorial.FileWriter"
		autowire-candidate="false">
	</bean>

	<bean id="logger" class="com.livingoncodes.spring.springtutorial.Logger">
	</bean>
</beans>
